{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{% url 'accounts:password_change' %}" class="list-group-item list-group-item-action active">修改密码</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="alert alert-success">
                <h4 class="alert-heading">密码修改成功！</h4>
                <p>您的密码已成功修改，请使用新密码登录。</p>
            </div>
            <a href="{% url 'accounts:login' %}" class="btn btn-primary">重新登录</a>
        </div>
    </div>
</div>
{% endblock %}